#list-votantes{
    margin: auto;
    width: 50%;
}
@media only screen and (max-width: 600px) {
    #list-votantes{
        margin: auto;
        width: 100%;
    }
    
}

#btn-exit{
    float: initial;
    margin: auto 10% auto auto;
}