<main>
  <div>
    <img src="/assets/svg/backgroundCertificacion.svg" alt="registraduriaLogo">
    <h2>Resgistraduría Nacional del Estado Civil</h2>
    <h3>CERTIFICADO ELECTORAL ELECCIONES 27 DE MAYO DE 2018</h3>
    <table>
      <th>
        <tr>
          <p>Cédula de Ciuidadanía {{numDocument}} </p>
        </tr>
        <tr>
          <p>Nombre y Apellido: {{name}} </p>
        </tr>
      </th>
      <th>
        <p>MAGDALENA</p>
      </th>
      <th>
        <p>I.E.D. EL PARQUE</p>
        <p>Puesto de Votación</p>
      </th>
    </table>
    <img src="/assets/svg/votationLogo.svg" alt="votacionLogo">
    <p>21684256185</p>
  </div>
  <button type="button" id="btn-exit" class="btn btn-primary" routerLink="/" routerLinkActive="active">Salir</button>
</main>