button:active{
    border: crimson 5px solid;
}
.primary-div{
    width: 75%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;        
}

#voto-blanco{
    width: 250px;
    height: 265px;
    padding-top: 45%;
    background: white;
    border: 2px solid gray;
    box-sizing: border-box;
    text-align: center;
}

#btn-cancel{
    float: right;
    margin: auto 10% auto auto;
}