<main>
  <div class="primary-div">
    <section>
      <div class="secondary-div">
        <img src="../assets/image/clara_aida.jpg" alt="">
      </div>
    </section>
    <section>
      <div class="secondary-div">
        <img src="../assets/image/enrique_isabel.jpg" alt="">
      </div>
    </section>
    <section>
      <div class="secondary-div">
        <img src="../assets/image/juan_german.jpg" alt="">
      </div>
    </section>
    <section>
      <div class="secondary-div">
        <img src="../assets/image/martha_camilo.jpg" alt="">
      </div>
    </section>
    <section>
      <div class="secondary-div">
        <img src="../assets/image/oscar_carlos.jpg" alt="">
      </div>
    </section>
    <section>
      <div id="voto-blanco">
        <p>VOTO EN BLANCO</p>
      </div>
    </section>
  </div>
</main>
