
<main>
  <div class="primary-div">
    <section>
      <button (click)="addTodo('2018claaid')">
        <img src="../assets/image/clara_aida.jpg" alt="Clara y Aida">
      </button>
    </section>
    <section>
      <button (click)="addTodo('2018enrisa')">
        <img src="../assets/image/enrique_isabel.jpg" alt="Enrique e Isabel">
      </button>
    </section>
    <section>
      <button (click)="addTodo('2018juager')">
        <img src="../assets/image/juan_german.jpg" alt="Juan y German">
      </button>
    </section>
    <section>
      <button (click)="addTodo('2018marcam')">
        <img src="../assets/image/martha_camilo.jpg" alt="Martha y Camilo">
      </button>
    </section>
    <section>
      <button (click)="addTodo('2018osccar')">
        <img src="../assets/image/oscar_carlos.jpg" alt="Oscar y Carlos">
      </button>
    </section>
    <section>
      <button id="voto-blanco" (click)="addTodo('blanco')">
        <p>VOTO EN BLANCO</p>
      </button>
    </section>
  </div>

  <button type="button" id="btn-cancel" class="btn btn-danger" (click)="exit()" >Cancelar</button>
</main>
