.primary-div{
    width: 100%;
    margin: auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;    
          
}

#voto-blanco{
    width: 250px;
    height: 265px;
    padding-top: 45%;
    background: white;
    border: 2px solid gray;
    box-sizing: border-box;
    text-align: center;
}