<div>
  <h2>Bienvenido</h2>
  <h3>Inicia Sección</h3>

  <form action="">
    <input class="primary-input" placeholder="Número de documento" type="number" name="" id="">
    <br>
    <input class="primary-input" placeholder="Email" type="email" name="" id="">
    <br>
    <input class="primary-input" placeholder="Contraseña" type="password" name="" id="">
    <br>
    <label for="">Tengo en Cuenta Mis Derechos y Deberes Como  
      <a href="https://registraduria.gov.co/-Glosario-electoral,225-.html" target="_blank">Ciudadano</a></label>
    <input type="checkbox" name="" id="">
    <br>
    <input id="submit" type="button" value="Iniciar Sección">
  </form>
</div>
