<main>
  <section>
    <h2>Bienvenido</h2>
    <h3>Inicia Sesión</h3>      
    <form>
      <input id="numDocument" class="primary-input" placeholder="Número de documento" type="number">
      <br>
      <input id="addressEmail" class="primary-input" placeholder="Email" type="email">
      <br>
      <input id="password" class="primary-input" placeholder="Contraseña" type="password">
      <br>
      <label for="">Tengo en Cuenta Mis Derechos y Deberes Como  
        <a href="https://registraduria.gov.co/-Glosario-electoral,225-.html" target="_blank">Ciudadano</a></label>
      <input type="checkbox" id="checkbox">
      <br>
      <button (click)="getAuthorization()" id="submit" type="button" >Iniciar Sesión</button>
    </form>
  </section>
</main>
